@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #CD1C18;
  --color-secondary: #FFF521;
  --color-tertiary: #0B57A1;
  --color-neutral: #F8F8F8;

  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}

@utility neo-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

@utility neo-shadow-lg {
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

@utility active-press {
  &:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
  }
}

body {
  background-color: var(--color-neutral);
  color: #1a1c1c;
}
